* {
    font-family: Arial, sans-serif;
  }
  h2{
    font-family:'Times New Roman', Times, serif;
    color : rgb(231, 12, 158)
  }
ul {
    float: left;
}
ul:nth-child(1){
    color:blueviolet
}

ul:nth-child(2){
    color:red
}
ul:nth-child(3){
    color:blue
}
ul:nth-child(4){
    color:rgb(6, 105, 22)
}
ul:nth-child(5){
    color:rgb(206, 63, 7)
}