* {
    font-family: Arial, sans-serif;
  }
  h2{
    font-family:'Times New Roman', Times, serif;
    color : rgb(231, 12, 158)
  }
ul {
    float: left;
}
ul:nth-child(1){
    color:blueviolet
}

ul:nth-child(2){
    color:rgb(241, 86, 86)
}
ul:nth-child(3){
    color:blue
}
ul:nth-child(4){
    color:rgb(6, 105, 22)
}
ul:nth-child(5){
    color:rgb(206, 63, 7)
}
tr:nth-child(1) th {
    border:auto ; 
    padding: 10px ;
    color:rgb(243, 169, 10);
    font-size: 20px;
}
tr:nth-child(2) th {
    border:double ; 
    padding: 10px ;
}
tr:nth-child(3) th {
border:double ; 
padding: 10px ;}
tr:nth-child(4) th {
 border:double ; 
padding: 10px ;}
tr:nth-child(5) th {
border:double ; 
padding: 10px ;}
tr:nth-child(6) th {
    border:double ; 
    padding: 10px ;}
    tr:nth-child(7) th {
        border:double ; 
        padding: 10px ;}
th:nth-child(1){
    color:coral;
    font-size: 25px;
}
tr:nth-child(8) th {
    border:double ; 
    padding: 10px ;}
    tr:nth-child(9) th {
        border:double ; 
        padding: 10px ;}
        tr:nth-child(10) th {
            border:double ; 
            padding: 10px ;}

                        

tr:nth-child(2) td{
    font-size: 20px;
    border: solid ; 
    padding: 10px ;
    color:rgb(11, 26, 238);
}
tr:nth-child(3) td{
    font-size: 20px;
    border: solid ; 
    padding: 10px ;
    color:rgb(238, 11, 11);
}
tr:nth-child(4) td{
    font-size: 20px;
    border: solid ; 
    padding: 10px ;
    color:rgb(8, 8, 8);
}
tr:nth-child(5) td{
    font-size: 20px;
    border: solid ; 
    padding: 10px ;
    color:rgb(73, 151, 73);
}
tr:nth-child(6) td{
    font-size: 20px;
    border: solid ; 
    padding: 10px ;
    
    color:rgb(240, 82, 34);
}
tr:nth-child(7) td{
    border: solid ; 
    padding: 10px ;
    color:rgb(187, 103, 187);
    font-size: 20px;
}
tr:nth-child(8) td{
    border: solid ; 
    padding: 10px ;
    color:#ce8157;
    font-size: 20px;
}
tr:nth-child(9) td{
    border: solid ; 
    padding: 10px ;
    color:#861818;
    font-size: 20px;
}
tr:nth-child(10) td{
    border: solid ; 
    padding: 10px ;
    color:#005792;
    font-size: 20px;
}





.tab1{
    background-color:rgb(71, 70, 70)}

    fieldset{
        padding: 30px;
        border:10px;
        margin: 10px;
        background-color: #B2B1B9;
    }
    legend{
      padding-top:20px ;
      font-size: 20px;
      color:#4F0E0E
  }

  input{
      height:30px;
  }

  input:invalid {
    border: 2px dashed red;
  }
  
  input:invalid:required {
    background-color: rgb(98, 202, 228);
  }
  
  input:valid {
    border: 2px solid black;
  }